<p>stock works!</p>

<div class="mainmenu">
  <form class="">
    <div class="mainBox">
      <div class="headerBox">ایران خودرو(خودرو) بازار دوم بورس</div>
      <div class="content">
        <div class="firstBox">
          <div class="box1">
            <div class="box1Small">
              <table>
                <tbody>
                  <tr>
                    <td>آخرین معامله</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت پایانی</td>
                    <td>values of the ts</td>
                  </tr>
                  <tr>
                    <td>اولین قسمت</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت دیروز</td>
                    <td>15%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box1Small">
              <table>
                <tbody>
                  <tr>
                    <td>آخرین معامله</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت پایانی</td>
                    <td>values of the ts</td>
                  </tr>
                  <tr>
                    <td>اولین قسمت</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت دیروز</td>
                    <td>15%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box1Small">
              <table>
                <tbody>
                  <tr>
                    <td>آخرین معامله</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت پایانی</td>
                    <td>values of the ts</td>
                  </tr>
                  <tr>
                    <td>اولین قسمت</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت دیروز</td>
                    <td>15%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box1Small">
              <table>
                <tbody>
                  <tr>
                    <td>آخرین معامله</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت پایانی</td>
                    <td>values of the ts</td>
                  </tr>
                  <tr>
                    <td>اولین قسمت</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>قیمت دیروز</td>
                    <td>15%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="detailBox">
              <table>
                <tbody>
                  <tr>
                    <td>آخرین اطلاعات قیمت</td>
                    <td>time</td>
                  </tr>
                  <tr>
                    <td>وضعیت</td>
                    <td>مجاز</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="detailBox">
              <table>
                <tbody>
                  <tr>
                    <td>eps</td>
                    <td>time</td>
                  </tr>
                  <tr>
                    <td>وضعیت</td>
                    <td>مجاز</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box2">
            <div class="box2Small">
              <table>
                <tbody>
                  <tr>
                    <td>حجم</td>
                    <td>خرید</td>
                    <td>فروش</td>
                  </tr>
                  <tr>
                    <td>حقیقی</td>
                    <td>25</td>
                    <td>52</td>
                  </tr>
                  <tr>
                    <td>حقوقی</td>
                    <td>خرید</td>
                    <td>فروش</td>
                  </tr>
                  <tr>
                    <td>تعداد</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>مجموع</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>حقیقی</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box2Detail">
              <span>ابزار تغییر مکان یا نمایش اطلاعات</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
