<div class="header">
  <div class="boursCom">
    <div class="logoCom"></div>
    <div class="textCom">
      شرکت مدیریت فناوری بورس تهران
      <br />
      Tehran Securities Exchange Technology Management Company
    </div>
  </div>
  <div class="menu">
    <a class="menubtn" routerLink="login"> ورود</a>
    <a class="menubtn" href="">اخبارها</a>
    <a class="menubtn" href="">راهنما</a>
    <a class="menubtn" href="">نظرات و پیشنهادات </a>
    <a class="menubtn" href=""> نقشه بازار</a>
    <a class="menubtn" href="">آموزش </a>
    <a class="menubtn" href="stock">نماد</a>
    <a class="menubtn" routerLink="admin/currency">دیده بان </a>
    <a class="menubtn" href="">خانه </a>
    <a class="menubtn" href=""> زبان </a>
    <a class="menubtn" href=""> نمایش فهرست </a>
  </div>
</div>
