.formGroup {
  margin-top: 20px;
  /* justify-content: center; */
  /* margin-left: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
p {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}
input {
  border-radius: 5px;
}
.login {
  justify-content: center;
}
.signupbtn {
  background-color: rgb(74, 11, 94);
  border: 1px solid black;
  font-size: 20px;
  color: aliceblue;
  border-radius: 10px;
}
