<div class="form-group">
  <label for="title">Title</label
  ><input id="title" type="text" class="form-control" />
</div>
<div class="form-group">
  <label for="number">Number</label
  ><input id="number" type="number" class="form-control" />
</div>
<div class="form-group">
  <label for="volume">Volume</label
  ><input id="volume" type="text" class="form-control" />
</div>

<div class="form-group">
  <label for="value">Value</label
  ><input id="value" type="text" class="form-control" />
</div>
<div class="form-group">
  <label for="firstPrice">First Price</label
  ><input id="firstPrice" type="text" class="form-control" />
</div>
<div class="form-group">
  <label for="secondPrice">Second Price</label
  ><input id="secondPrice" type="text" class="form-control" />
</div>
<button class="btn btn-primary">Save</button>
